@model IEnumerable<Product>

@{
    ViewData["Title"] = "Sản phẩm";
    var categories = ViewBag.Category as Category[];
}

<h1>@ViewData["Title"]</h1>

<p>
</p>
<a asp-action="Create" class="btn btn-dark mb-4">
    <i class="fa-solid fa-plus"></i> Thêm sản phẩm
</a>

<style>
            .custom-col {
            padding-top: calc(var(--bs-gutter-x)* .5);
            padding-bottom: calc(var(--bs-gutter-x)* .5);
        }

        .vote-star i {
            font-size: 14px;
        }

        .card>img {
            height: 160px;
        }

        .tools i {
            padding: 8px;
            color: white;
        }
        .tools i:hover {
            background: rgb(73, 73, 73);
        }
        .card:hover .tools {
            display: flex;
        }
        .tools {
            display: none;
            gap: 6px;
            flex-direction: column;
            position: absolute;
            right: 10px;
            top: 10px;
        }
</style>


<div class="row">
    @foreach (var item in Model)
    {
                            <div class="col-auto custom-col">
                                <div class="card shadow" style="width: 15rem;">
                                    <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff"
                                        class="card-img-top" alt="...">
                                            <div class="tools">
                                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-pen-to-square myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chỉnh sửa"></i>
                                                    </a>
                                                        <a asp-action="Details" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-eye myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chi tiết"></i>
                                                        </a>
                                                        <a asp-action="Delete" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-trash myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Xóa"></i>

                                                        </a>
                                             </div>
                                    <div class="card-body">
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the
                                            bulk of
                                            the card's content.</p> -->
                                            <h3><span class="fw-bold ">$@Html.DisplayFor(modelItem => item.Price)</span></h3>
                                            <p class="text-muted">@Html.DisplayFor(modelItem => item.Description)</p>
                                        <div class="mb-4 vote-star">
                                            <i class="text-warning fas fa-star"></i>
                                            <i class="text-warning fas fa-star"></i>
                                            <i class="text-warning fas fa-star"></i>
                                            <i class="text-warning fas fa-star"></i>
                                            <i class="text-warning fas fa-star-half-alt"></i>
                                            <span class="total-rating">(20 lượt mua)</span>
                                        </div>
                                        <a href="#" class="btn btn-outline-success">
                                            <i class="fa-solid fa-cart-plus"></i></a>
                                        <a href="#" class="btn btn-primary ms-2 px-4">
                                            Mua ngay
                                        </a>
                                    </div>
                                </div>
                            </div>
    }
</div>

<hr />

<h4>Test View</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                                            <tr>
                                                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>
                                                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                                                </td>
                                                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                </td>
                                            </tr>
        }
    </tbody>
</table>
